body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

.card {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 400px;
    text-align: center;
    position: relative;
}

.card h1 {
    margin: 0;
    font-size: 32px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.foto-perfil-container {
    margin-top: 20px;
}

.foto-perfil {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.login {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.description {
    font-size: 18px;
    color: #b0b0b0;
    margin-top: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 13px;
}

.social-icon {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.contact-btn {
    display: inline-block;
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 14px 28px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.contact-btn::after {
    content: "";
    position: absolute;
    left: -30px;
    opacity: 0;
    width: 24px;
    height: 24px;
    background-image: url('img/email-icon.png');
    background-size: cover;
    transition: left 0.3s ease, opacity 0.3s ease;
}

.contact-btn:hover {
    background-color: #555555;
    padding-left: 50px;
}

.contact-btn:hover::after {
    left: 10px;
    opacity: 1;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #b0b0b0;
}