body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 800px;
    max-width: 90%;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.perfil-container {
    margin-bottom: 20px;
}

.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info-container h1 {
    margin: 0;
    font-size: 32px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}

.info-container p {
    margin: 5px 0;
    font-size: 18px;
    color: #b0b0b0;
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}

section p, section ul {
    margin: 0;
    font-size: 18px;
    color: #b0b0b0;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.job p {
    margin: 0.3rem 0;
}

.job ul {
    padding-left: 1.2rem;
    text-align: left;
}

.job ul li {
    margin-bottom: 0.3rem;
}

.back-btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-btn:hover {
    background-color: #555;
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #b0b0b0;
}